cleanup = true
workDir = "/camp/stp/babs/scratch/sawyerc/Nanopore/work/"

params {
    igenomes_base = "/camp/svc/reference/Genomics/iGenomes"
    // email = "chelsea.sawyer@crick.ac.uk, robert.goldstone@crick.ac.uk"
    email = "chelsea.sawyer@crick.ac.uk"
    // outdir = "/camp/stp/sequencing/inputs/instruments/fastq/"
    outdir = "/camp/stp/babs/scratch/sawyerc/Nanopore_test/"
    tracedir = "${params.outdir}/pipeline_info"
}


process {

    // Global process config
    executor = 'slurm'

    cpus = 32
    queue = 'babs,compute'
    clusterOptions = '--mem-per-cpu=7168'
    time = { check_max( 2.h * task.attempt, 'time' ) }
    //executor = 'local'

    // Use/unuse appropriate module paths and purge modules
    beforeScript = { "module purge" }

    // Environment modules and resource requirements
    withName: 'basecalling' {
      module = ['guppy/3.1.5']
    }
    withName: 'barcoding' {
      module = ['guppy/3.1.5']
    }
    withName: 'minionQC' {
       module = ['MultiQC/1.6-Python-2.7.15-foss-2018a']
    }
    withName: 'multiqc' {
      module = ['MultiQC/1.6-Python-2.7.15-foss-2018a']
    }
}
