cleanup = true

params {
    tracedir = "${params.outdir}/pipeline_info"
}

process {

    // Global process config
    executor = 'slurm'

    cpus = 32
    queue = 'cpu'
    clusterOptions = '--mem-per-cpu=7168'
    time = { check_max( 2.h * task.attempt, 'time' ) }

    // Use/unuse appropriate module paths and purge modules
    beforeScript = { "module purge" }

    // Environment modules and resource requirements
    withName: 'check_input' {
      module = ['Python/3.6.6-foss-2018b']
    }
    withName: 'basecalling' {
      queue = 'gpu'
      cpus = { check_max( 12 * task.attempt, 'cpus' ) }
      memory = { check_max( 96.GB * task.attempt, 'memory' ) }
      time = { check_max( 20.h * task.attempt, 'time' ) }
      module = ['guppy/3.1.5']
    }
    withName: 'minionQC' {
      module = ['R/3.6.0-foss-2016b-BABS']
    }
    withName: 'multiqc' {
      module = ['MultiQC/1.6-Python-2.7.15-foss-2018a']
    }
}


