/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    // nanoseq.nf includes
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: 'copy',
            pattern: '*_versions.yml'
        ]
    }

    // INPUT_CHECK
    withName: 'NFCORE_NANOSEQ:NANOSEQ:INPUT_CHECK:SAMPLESHEET_CHECK' {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

if (!params.skip_basecalling) {
    process {
        withName: GUPPY {
            publishDir = [
                path: { "${params.outdir}/guppy" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
    }
}

if (params.skip_basecalling && !params.skip_demultiplexing) {
    process {
        withName: QCAT {
            publishDir = [
                path: { "${params.outdir}/qcat" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
    }
}

if (params.run_nanolyse) {
    process {
        withName: NANOLYSE {
            publishDir = [
                path: { "${params.outdir}/nanolyse" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
    }
}

if (!params.skip_qc) {
    if (!params.skip_basecalling && !params.skip_pycoqc) {
        process {
            withName: PYCOQC {
                publishDir = [
                    path: { "${params.outdir}/pycoqc" },
                    mode: 'copy',
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }
        }
    }
    if (!params.skip_nanoplot) {
        process {
            withName: NANOPLOT {
                publishDir = [
                    path: { "${params.outdir}/nanoplot" },
                    mode: 'copy',
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }
        }
    }
    if (!params.skip_fastqc) {
        process {
            withName: FASTQC {
                publishDir = [
                    path: { "${params.outdir}/fastqc" },
                    mode: 'copy',
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }
        }
    }
}

if (!params.skip_alignment) {
    process {
        withName: GTF2BED {
            publishDir = [
                path: { "${params.outdir}/genome" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: params.save_reference
            ]
        }
        withName: GET_CHROM_SIZES {
            publishDir = [
                path: { "${params.outdir}/genome" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: params.save_reference
            ]
        }
    }
    if (params.aligner == "graphmap2") {
        process {
            withName: SAMTOOLS_SORT {
                publishDir = [
                    path: { "${params.outdir}/graphmap2" },
                    mode: 'copy',
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }
            withName: SAMTOOLS_INDEX {
                publishDir = [
                    path: { "${params.outdir}/graphmap2" },
                    mode: 'copy',
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }
            withName: BAM_STATS_SAMTOOLS {
                publishDir = [
                    path: { "${params.outdir}/graphmap2/samtools_stats" },
                    mode: 'copy',
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }
        }
        if (!params.skip_bigbed) {
            process {
                withName: BEDTOOLS_UCSC_BIGBED {
                    publishDir = [
                        path: { "${params.outdir}/graphmap2/bigbed" },
                        mode: 'copy',
                        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                    ]
                }
            }
        }
        if (!params.skip_bigwig) {
            process {
                withName: BEDTOOLS_UCSC_BIGWIG {
                    publishDir = [
                        path: { "${params.outdir}/graphmap2/bigwig" },
                        mode: 'copy',
                        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                    ]
                }
            }
        }
    }
    if (params.aligner == "minimap2") {
        process {
            withName: SAMTOOLS_SORT {
                publishDir = [
                    path: { "${params.outdir}/minimap2" },
                    mode: 'copy',
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }
            withName: SAMTOOLS_INDEX {
                publishDir = [
                    path: { "${params.outdir}/minimap2" },
                    mode: 'copy',
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }
            withName: BAM_STATS_SAMTOOLS {
                publishDir = [
                    path: { "${params.outdir}/minimap2/samtools_stats" },
                    mode: 'copy',
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }
        }
        if (!params.skip_bigbed) {
            process {
                withName: BEDTOOLS_UCSC_BIGBED {
                    publishDir = [
                        path: { "${params.outdir}/minimap2/bigbed" },
                        mode: 'copy',
                        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                    ]
                }
            }
        }
        if (!params.skip_bigwig) {
            process {
                withName: BEDTOOLS_UCSC_BIGWIG {
                    publishDir = [
                        path: { "${params.outdir}/minimap2/bigwig" },
                        mode: 'copy',
                        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                    ]
                }
            }
        }
    }
}

if (params.call_variants) {
    if (!params.skip_medaka) {
        process {
            withName: MEDAKA_VARIANT {
                publishDir = [
                    path: { "${params.outdir}/DNA_variant_calling/medaka_variant" },
                    mode: 'copy',
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }
        }
    }
    if (!params.skip_sniffles) {
        process {
            withName: SNIFFLES {
                publishDir = [
                    path: { "${params.outdir}/DNA_variant_calling/sniffles" },
                    mode: 'copy',
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }
        }
    }
}

if (!params.skip_quantification) {
    if (params.quantification_method == "bambu") {
        process {
            withName: BAMBU {
                publishDir = [
                    path: { "${params.outdir}/bambu" },
                    mode: 'copy',
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }
        }
        if (!params.differential_analysis) {
            process {
                withName: DESEQ2 {
                    publishDir = [
                        path: { "${params.outdir}/bambu/deseq2" },
                        mode: 'copy',
                        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                    ]
                }
                withName: DEXSEQ {
                    publishDir = [
                        path: { "${params.outdir}/bambu/dexseq" },
                        mode: 'copy',
                        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                    ]
                }
            }
        }
    }
    if (params.quantification_method == "stringtie2") {
        process {
            withName: STRINGTIE2 {
                publishDir = [
                    path: { "${params.outdir}/stringtie2" },
                    mode: 'copy',
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }
            withName: SUBREAD_FEATURECOUNTS {
                publishDir = [
                    path: { "${params.outdir}/stringtie2/featureCounts" },
                    mode: 'copy',
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }
        }
        if (!params.differential_analysis) {
            process {
                withName: DESEQ2 {
                    publishDir = [
                        path: { "${params.outdir}/bambu/deseq2" },
                        mode: 'copy',
                        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                    ]
                }
                withName: DEXSEQ {
                    publishDir = [
                        path: { "${params.outdir}/bambu/dexseq" },
                        mode: 'copy',
                        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                    ]
                }
            }
        }
    }
}

if (!params.skip_multiqc) {
    process {
        withName: MULTIQC {
            ext.args   = params.multiqc_title ? "--title \"$params.multiqc_title\"" : ''
            publishDir = [
                path: { [
                    "${params.outdir}/multiqc",
                    params.skip_alignment? '' : "/${params.aligner}"
                    ].join('') },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
    }
}
