/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/nanoseq -profile test_nobc_nodx,<docker/singularity>
 */

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on Travis
    max_cpus            = 2
    max_memory          = 6.GB
    max_time            = 12.h

    // Input data to skip demultiplexing and rna modification analysis
    input               = 'https://raw.githubusercontent.com/nf-core/test-datasets/nanoseq/3.2/samplesheet/samplesheet_nobc_nodx_rnamod.csv'
    fasta               = 'https://raw.githubusercontent.com/nf-core/test-datasets/nanoseq/reference/modification_transcriptome_subset.fa'
    gtf                 = 'https://raw.githubusercontent.com/nf-core/test-datasets/nanoseq/reference/modification_transcriptome_subset.gtf'
    protocol            = 'directRNA'
    run_nanolyse        = true
    skip_bigbed         = true
    skip_bigwig         = true
    skip_demultiplexing = true
    skip_quantification = true
    skip_fusion_analysis= true
}

