/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/nanoseq -profile test_nobc_nodx,<docker/singularity>
 */

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on Travis
    max_cpus            = 2
    max_memory          = 6.GB
    max_time            = 12.h

    // Input data to skip demultiplexing and stringtie
    input               = 'https://raw.githubusercontent.com/nf-core/test-datasets/nanoseq/3.2/samplesheet/samplesheet_nobc_nodx_stringtie.csv'
    fasta               = 'https://raw.githubusercontent.com/nf-core/test-datasets/nanoseq/reference/chr22_23800000-23980000.fa'
    gtf                 = 'https://raw.githubusercontent.com/nf-core/test-datasets/nanoseq/reference/chr22_23800000-23980000.gtf'
    protocol            = 'directRNA'
    skip_demultiplexing = true
    skip_fusion_analysis= true
    skip_modification_analysis=true
    quantification_method = 'stringtie2'
    skip_differential_analysis = true //all transcripts from the test subset got filtered out in DEXSEQ2
}
