/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/nanoseq -profile test_bc_nodx,<docker/singularity>
 */

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on Travis
    max_cpus            = 2
    max_memory          = 6.GB
    max_time            = 12.h

    // Input data to perform basecalling and to skip demultipexing
    input               = 'https://raw.githubusercontent.com/nf-core/test-datasets/nanoseq/3.2/samplesheet/samplesheet_bc_nodx.csv'
    fasta               = 'https://raw.githubusercontent.com/nf-core/test-datasets/nanoseq/reference/hg19_KCMF1.fa'
    protocol            = 'cDNA'
    flowcell            = 'FLO-MIN106'
    kit                 = 'SQK-DCS108'
    dorado_model        = 'dna_r9.4.1_e8.1_hac@v3.0.1'
    dorado_device       = 'cpu'
    skip_bigbed         = true
    skip_bigwig         = true
    skip_demultiplexing = true
    skip_quantification = true
    skip_fusion_analysis= true
    skip_modification_analysis=true
}
