/*
 * -------------------------------------------------
 *  Nextflow config file for running full-size tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a full size pipeline test. Use as follows:
 *   nextflow run nf-core/nanoseq -profile test_full,<docker/singularity>
 */

params {
  config_profile_name = 'Full test profile'
  config_profile_description = 'Full test dataset to check pipeline function'

  // Input data for full size test
  // Input data to perform both basecalling and demultiplexing
  input = 'https://raw.githubusercontent.com/nf-core/test-datasets/nanoseq/samplesheet_bc_dx.csv'
  protocol = 'cDNA'
  flowcell = 'FLO-MIN106'
  kit = 'SQK-DCS109'
  barcode_kit = 'EXP-NBD103'

  // This variable is just for reference and isnt actually required for the tests
  // Files are downloaded and staged using the "GetTestData" process
  input_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/nanoseq/fast5/barcoded/'

}
