/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/nanoseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data to perform both basecalling and demultiplexing
    input               = 'https://raw.githubusercontent.com/nf-core/test-datasets/nanoseq/3.0/samplesheet/samplesheet_bc_dx.csv'
    protocol            = 'cDNA'
    flowcell            = 'FLO-MIN106'
    kit                 = 'SQK-DCS109'
    barcode_kit         = 'EXP-NBD103'
    trim_barcodes=true
    output_demultiplex_fast5 = true
    run_nanolyse        = true
    skip_quantification = true
    skip_fusion_analysis= true
    skip_modification_analysis=true

    // This variable is just for reference and isnt actually required for the tests
    // Files are downloaded and staged using the "GetTestData" process
    input_path          = 'https://raw.githubusercontent.com/nf-core/test-datasets/nanoseq/fast5/barcoded/'
}
