/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/nanoseq -profile test_bc_nodx,<docker/singularity>
 */

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on Travis
    max_cpus            = 2
    max_memory          = 6.GB
    max_time            = 12.h

    // Input data to perform basecalling and to skip demultipexing
    input               = 'https://raw.githubusercontent.com/nf-core/test-datasets/nanoseq/3.0/samplesheet/samplesheet_bc_nodx.csv'
    protocol            = 'cDNA'
    flowcell            = 'FLO-MIN106'
    kit                 = 'SQK-DCS108'
    skip_demultiplexing = true
    skip_quantification = true
    skip_fusion_analysis= true
    skip_modification_analysis=true

    // This variable is just for reference and isnt actually required for the tests
    // Files are downloaded and staged using the "GetTestData" process
    input_path          = 'https://raw.githubusercontent.com/nf-core/test-datasets/nanoseq/fast5/nonbarcoded/'
}
