/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/nanodemux -profile test
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'

  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 12.h

  // Input data
  samplesheet = 'https://raw.githubusercontent.com/drpatelh/test-datasets/nanodemux/samplesheet.csv'
  run_dir = 'https://raw.githubusercontent.com/drpatelh/test-datasets/nanodemux/fast5/'
  flowcell = 'FLO-MIN106'
  kit = 'SQK-LSK109'
  barcode_kit = 'SQK-PBK004'
}
